<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>{% block seoTitle %}掬一捧清水窥明月、{% endblock %}</title>
  {% block meta %}{% endblock %}
  {% block stylesheet %}{% endblock %}
  </head>
  <body>
  {% block assets %}{% endblock %}
  {% block main %}<div id="app"></div>{% endblock %}
  </body>
</html>
